<h1> Who Is Katlego ?</h1>


<h3>The Background</h3>
<p>
    Katlego also known as Kat is a theocentric woman who is 28 years of age, born and bred in the multicultural South African rainbow 
    nation country, originally from the city of stars Polokwane in the Limpopo province. Kat had an interest in chemistry from a very
    young age in high school particulary while doing her grade 12. Her chemistry and physical sciences teachers inspired her to pursue 
    a career in the STEM field. She currently holds a Bachelor's degree in Physical Sciences and a National Senior Certificate. Her 
    passion for chemistry has encouraged her to pursue her honours degree in chemistry. She has always been fond of coding from her 
    final years of study in 2021 which led her to learn more about this world of computer programming. She is a self-taught beginner web 
    developer. She attended an Mlab Codetribe Bootcamp that encouraged her to learn more languages of the programming world. She currently holds 
    a Code B driver's license.
</p> 



<div class="skillhob">
    <div class="skills">
        <h5>Skills</h5>
        <div class="about-image">
        <img src="/assets/images/Skillspic.jpg" alt="skills" class="about-image">
        </div>
        <div class="about-image-text">
        <ol>
            <li>Written and Oral Communication</li>
            <li>Computer literate, Microsoft Office</li>
            <li>Pays attention to details</li>
            <li>Works well under pressure</li>
            <li>Able to work independently or in a team</li>
        </ol>
        </div>
    </div>
    <div class="hobbies">
        
        <h5>Hobbies</h5>
        <div class="about-image">
        <img src="/assets/images/Hobbypic.jpg" alt="hobby" class="about-image">
        </div>
        <div class="about-image-text">
        <ol>
            <li>Cooking</li>
            <li>Reading</li>
            <li>Coding</li>
            <li>Driving</li>
            <li>Tennis</li>
        </ol>
        </div>
    </div>
    <div class="interests">

        <h5>Interests</h5>
        <div class="about-image">
        <img src="/assets/images/interests.jpg" alt="interestpic" class="about-image">
        </div>
        <div class="about-image-text">
        <ol>
            <li>Sports</li>
            <li>Travel</li>
            <li>Web Design</li>
            <li>Photography</li>
            <li>Laboratories</li>
        </ol>
        </div>
    </div>
</div>

<p>Read more about me in the portfolio page and get to witness my educational background and experiences. 
    <a routerLink="/portfolio-page"> Click here!</a> 
</p>
