
<div class="hero-container">
  <img src="/assets/images/Katwebpic.jpg" alt="heropic" class="hero-image">
  <div class="hero-text">
    <h1>Hi there I am Katlego Masekoameng</h1>
    <p>And I'm a Beginner Web Developer and an Aspiring Chemist</p>
    <button routerLink="/about-me" class="hero-button"> Read more about me </button>
  </div>
</div>  


<h2>About Katlego</h2>
<hr>
<div>
  <h3>Meet The Aspiring Chemist With An Interest In Tech</h3>
    </div>
<div class="about-alas">
  
  
  <div class="about-home">
    <div class="card-content">
      <div class="card-item">
        <img src="/assets/images/chemistpic.jpg" alt="chemistrygirl" class="card-image">
        <p>
          Kat began her chemistry career journey in 2015 at the University of Limpopo<a routerLink="/portfolio-page">...read more</a>
        </p>
      </div>
      <div class="card-item">
        <img src="/assets/images/techpic.jpg" alt="techgirl" class="card-image">
        <p>Kat began her web development journey in 2024 when she took part in a bootcamp hosted by Mlab Codetribe
          <a routerLink="/portfolio-page">...read more</a></p>

      </div>
    </div>
  </div>
  <div class="mission-vision">
    <h4>Her Mission</h4>
  <p>Kat intends to bridge the gap between chemistry and technology by promoting the creation of interactive educational softwares to assist in teaching 
      complex chemical concepts and computational methods which in turn makes learning more effective and engaging.    
  </p>
  <h4>Her Vision</h4>
  <p>Kat sees a world that has empowered future innovators through accessible, engaging and informataive educational resources.  </p>
  </div>
</div>
<hr>

  <footer>
    <div>
    <h1>Get In Touch</h1>
    <p>I am available on most of the social click the links below to connect!</p>
    

    <div class="social-media">
      <a href="https://linkedin.com/in/katlegomasekoameng" target="_blank" >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/Katlie101" target="_blank">
      <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://x.com/Katlie_KB" target="_blank">
      <i class="fa-brands fa-x-twitter"></i>
      </a>
    </div>
  </div>
    <div class="call">
      <a href="https://wa.me/message/K32WFSCKJBTYD1" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <p>Contact # 
        <br>
      +27634469703</p>
    </div>
    <div class="email">
      <a routerLink="/contact-me">
      <i class="fa-sharp fa-regular fa-envelope"></i>
      </a>
      <p>katlegom9&#64;gmail.com</p>
    </div>
    <div class="address">
      <i class="fa-solid fa-location-dot"></i>
      <p>Locate me
        <br>
      Polokwane || Bloemfontein
      </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7294.988542633043!2d29.484688508691416!3d-23.907545562419994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec6d75c437dddd1%3A0xdbed3ea709f86316!2sMc%20Donald%20Ave%2C%20Polokwane%2C%200699!5e0!3m2!1sen!2sza!4v1726334433552!5m2!1sen!2sza" width="600" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  
  
  </footer>



