.headernav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #5de0e6;
    overflow: hidden;   
}


.headernav li {
    float:right;   
}

.headernav li a {
  display: block;
  color: rgb(136, 9, 241);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}