<h1>My Portfolio</h1>
<br>

<h3>Find Out About My Expertise</h3>

<ul>
    <li>Qualification</li>
    <li>Work Experience</li>
    <li>Achievements</li>
</ul>


<div class="main">
<div class="row">
    <div class="column">
      <div class="content">
        <img src="/assets/images/Qualificationpic.png" alt="Qualificationpic" width="80%" >
        <h3>My Qualifications</h3>
        <h4>BSc Physical Sciences</h4>
        <p>Obtained at the University of Limpopo
          <br> In the year 2022 
          <br> Focused on the basic foundation of Chemistry, Physics, Biology and Biochemistry
        </p>
        <h4>National Senior Certificate NSC</h4>
        <p>Completed at Taxila Secondary School
            <br> In the year 2014
        </p>
      </div>
      </div>
    <div class="column">
      <div class="content">
        <img src="/assets/images/Chefgirl.jpg" alt="Chefgirl" width="80%">
        <h3>My Work Experiences </h3>
        <h4>Project Administrator Assistant - Monene (pty) ltd</h4>
        <p>The duties included assisting the team to run projects, organize emails and files, set up meetings with potential clients for a period of a year.</p>
        <h4>ICT Attendence Assistant - ICT Department University of Limpopo</h4>
        <p>The duties included assisting the technician in charge to record attendance ofstudents in classes for a period of a year</p>
        <h4>Assistant Cook - Phela's Kitchen and Deco</h4>
      <p>The duties included assisting the Chef in preparing food items, setting up tables and serving clients.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/assets/images/achievementpic.jpg" alt="achievementpic" width="80%">
        <h3>My Achievements</h3>
        <h4>Roadworthy Attendance Certificate</h4>
        <p>Attended a three day course training where we were trained to use the cashier system for roadworthiness. </p>
        <h4>ICT Assistan=d Certificate</h4>
        <p>Received a certificate for the participation of Attendence Assistant</p>
        <h4>Completion Of Research Project Draft</h4>
        <p>Completed a research project in my first year of honours that included the purification of water using fruit seeds.</p>
      
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/assets/images/mlabcertificate.png" alt="mlabcertificate" style="width:90%">
        <h3>My Achievements</h3>
        <h4>Mlab CodeTribe Bootcamp Attendance Certification</h4>
        <p>Attendend a bootcamp from Mlab Codetribe and was rewarded a certificate of attendance.</p> 
    </div>
  </div>
  
  <div class="content">
    <img src="/assets/images/task4snap.png" alt="task4" style="width:90%">
    <h3>Some Other Work</h3>
    <p>While attending the mlab bootcamp, we had to complete a task the required us to build a website from scratch with the provided prototype.</p>
  </div>
</div>
  


